<!DOCTYPE html>
<html lang="en">
<head>
	<link href="css/navbar.css" rel="stylesheet" type="text/css">
  <link href="css/events.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Events</title>

  <ul>
    <li><a href="/"><i class="fa fa-fw fa-home"></i>Home</a></li>
    <li><a href="/events"><i class="fa fa-fw fa-gift"></i>Events</a></li>
    <li><a href="/contacts"><i class="fa fa-fw fa-envelope"></i>Contact Us</a></li>    
</ul>
</head>
<body>
	<h2><%= texti01 %></h2>
<p>Resize the browser window to see the effect.</p>

<div class="row">
  <div class = "container">
  <div class="column01">
    <div class="card01">
      <a href="/pajama" style="background-color: #f0eeee">
      <img src="images/pajama.jpg" alt="Snow" style="width:250px">
    </a>
      
      <h3><%= title01 %></h3>
      <p><%= saga01 %></p>
      <p><%= saga02 %></p>
      <table></table>
    </div>
  </div>
  </div>

  <div class="column02">
    <div class="card02">
      <a href="/game" style="background-color: #f0eeee">
      <img src="images/game.jpg" alt="Snow" style="width:300px">
    </a>
      <h3><%= title02 %></h3>
      <p><%= saga03 %></p>
      <p><%= saga02 %></p>
    </div>
  </div>

  <div class="column03">
    <div class="card03">
      <a href="/lan" style="background-color: #f0eeee">
      <img src="images/lan.jpg" alt="Snow" style="width:300px">
      </a>
      <h3><%= title03 %></h3>
      <p><%= saga04 %></p>
      <p><%= saga02 %></p>
    </div>
  </div>
  
  <div class="column04">
    <div class="card04">
      <a href="/movienight" style="background-color: #f0eeee">
      <img src="images/movienight.jpg" alt="Snow" style="width:300px">
      </a>
      <h3><%= title04 %></h3>
      <p><%= saga05 %></p>
      <p><%= saga02 %></p>
    </div>
  </div>
</div>

</body>
</html>
